[Unit]
Description=Slack Observer Service
After=network.target

[Service]
WorkingDirectory=/home/dev/kms-tools
ExecStart=/home/dev/kms-tools/venv/bin/python -u -m slack_observer.listener
User=dev
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target