[Unit]
Description=KOI API Service
After=network.target

[Service]
WorkingDirectory=/home/dev/kms-tools
ExecStart=/home/dev/koi-api/venv/bin/python -m slack_observer.listener
User=dev
Restart=always

[Install]
WantedBy=multi-user.target